body, p, td, th, ul, ol, dl {
    font-size: 11pt;
}


h1 {
  font-size: 140%;
  font-family: verdana, helvetica, arial, sans-serif;
}

h2 {
  border-bottom: 2px solid #333;
  font-family: verdana, helvetica, arial, sans-serif;
}

h3 {
  border-bottom: 1px solid #333;
  font-family: verdana, helvetica, arial, sans-serif;
}

.author h3 {
    border-bottom: none;
}


dt {
  font-variant: small-caps;
}

pre.screen { 
    border: 2px solid #999;
    font-family: consolas, lucida console, courier new, courier, monospace;
    padding: 3px;
    font-size: 90%;
}
